/Intermediate
/Saved
/Content/MedievalDungeon
/DerivedDataCache
/Content/Collections
/Content/Developers
/Content/InfinityBladeAdversaries
/Content/EnvironmentPack1
/Content/InfinityBladeEffects
/Content/InfinityBladeFireLands
/Content/InfinityBladeGrassLands
/Content/InfinityBladeIceLands
/Content/Infinity_Blade_Assets
/Content/InfinityBladeWarriors
/Content/InfinityBladeWeapons
/Content/WaterPlane